*:root {
    font-family: Verdana, "Epunda Sans", Tahoma, sans-serif;
    box-sizing: border-box;
    --primary-color: #0a253f;
    --secondary-color: #0074D9;
    --background-color: #ffffff;
    --text-color: #222b45;
    --border-color: #ddd;
    --shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
}
 body {
     font-family: 'Open Sans', sans-serif, 'Roboto';
     background-color: var(--background-color);
     color: var(--text-color);
     margin: 0;
     padding: 0;
 }

 header {
     background-color: var(--background-color);
     color: var(--text-color);
     padding: 20px;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
 }

 section {
     padding: 20px;
     border-bottom: 1px solid var(--border-color);
 }

 h2 {
     color: var(--primary-color);
     font-family: 'Montserrat', sans-serif;
 }

 ul {
     list-style-type: disc;
     margin-left: 20px;
 }

 footer {
     background-color: var(--background-color);
     color: var(--text-color);
     text-align: center;
     padding: 10px;
     font-size: 0.9em;
 }
